// 전역 변수 설정
$background-color: #f5f5f5;
$font-primary: greycliff-cf, sans-serif;
$font-korean: 'Pretendard Variable', Pretendard;

// rem 기준 font-size 설정
html {
  font-size: 62.5%; // 10px
}

// 전역 타이포그래피 설정
body {
  background-color: $background-color;
  font-family: $font-primary;
  font-size: 16px; //  하위 요소에 대한 기본 폰트 크기 설정
}
